
html{
}

body{
  font-family: 'Roboto', sans-serif;

}

form{
  padding-top:5vh;
}
.headline2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */

  letter-spacing: -0.5px;

  /* 00. On Surface / High Emphasis */

  color: rgba(0, 0, 0, 0.87);
}

.active{
  border-bottom: solid;
  border-color:#00c8fa
  border-width:thick;

}

.reviewstars{
  color:gold;
}

.wrapper{
  padding:2vh;

}

.responsive-img{
max-width: 100%;
height: auto;
transform: scale(2.5);
overflow: hidden;

}


.cardmargin{
  margin-top: 2vh;
}


.cardcontainer{
  background-color: white;
border-radius: 5px;
overflow: hidden;
border: 1px solid #C6C6C6;
box-sizing: border-box;
min-height:10vh;


}

.jumbotron{
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 0px;
  padding-top: 10px;

}
.nav{
  background-color: white;
  height:8vh;
  padding-top:1vh;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
}


.piccontainer{
  padding: 0;
  overflow: hidden;

}

.piccontainer img{
  height:150px;
  width: auto;
}

.addcontainer{
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 3vh;

}

.addcontainer img{
  flex-shrink: 0;
    max-width: 100%;
    max-height: auto;

}




.textcontainer{
  margin-top: 20px;

}

.cardtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.5px;


  padding-left: 10px;
  padding-right: 10px;
  margin-top:-5px;
  padding: none;


}

.cardsubtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
/* identical to box height, or 171% */
  letter-spacing: 0.1px;


  padding-left: 10px;
  padding-right: 10px;


}

.avatartext{
  padding-top: 20px;
}

/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;

}
.picture{
    width: 50%;
    height: auto;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;

}
/*Profile Pic End*/
